# Variables d'environnement
.env

# Fichiers système macOS
.DS_Store
.AppleDouble
.LSOverride

# Fichiers système Windows
Thumbs.db
Desktop.ini

# Fichiers IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Fichiers temporaires
tmp/
temp/